body {
background-color: #E5E7E9; /* not working!*/
font-size: 25px;
flex-direction: column;
justify-content: center;
position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
} 

.menu {
  background-color: #E5E7E9;
  display: flex;
  justify-content: space-evenly;
  justify-content: center
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}


.title {
  display: flex;
  justify-content: center; /* Set to inline-block so it can flow beside the text */
  width: 40%; /* Needs a width to share space with the text */
  margin-left: 10px; /* A little margin so it isn't pressed directly against the text */
  margin-bottom: 10px; 
  /*display: flex;*/
  height: 200px;
}
.two {
  background-color: #0A2F3B;
  color: #ffffff;
  font-size: 500%;
  margin-top: 50px;
  }

.one {
  text-align: justify;
  font-size: 25px;
  }

.three {
  text-align: right;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  }

.four {
  margin-top: 100px;
  margin-bottom: 100px;
  }

.maroons {
  max-width: 30%;
  max-height: 30%;
  margin-left: 50px;
  margin-right: 50px;
  }

.map {
  max-width: 50%;
  height: auto;
  }

.relative {
  display: flex;
  justify-content: center;
  align-items: center;
        }

.marie {
  margin-top: 40px;
  }

.map {
  width: 50%;
  height: auto;
  margin: 20px auto;
  }

.small-text {
  font-size: 15px;
  }

img.title {
    max-width: 100%;
    max-height: auto;
  }

}
.p.one {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 150px;
  line-height: 1.8;
}

.p.two {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  line-height: 1.8;
  }

.p.three {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 300px;
  line-height: 1.8;
}

.h1{
    margin-top: 150px;
    font-size: 500%;
  }

.